@use"../utilities/mixins";

.card-container{
    @include mixins.flex(row,center,center);
    margin: 32px 16px;
    gap: 32px;
    flex-wrap: wrap;
}

/*producto*/

.section-1-producto{
    color: black;
    margin: 50px;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;    
}

.card{
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    background-color: bisque;
}

.card h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card h5{
    margin: 16px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.card img{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


