@use"../utilities/variables";

h1{
    color: variables.$color;
    font-family: "Ancizar Serif", serif;
    font-size: variables.$main-size;
    text-align: center;
    margin: 8px 16px;
}

h2{
    color: variables.$color;
    font-size: 20px;}

p{
    color: variables.$color;
    text-align: center;
    margin: 8px 16px;

}

.parrafo-contacto{
    font-size: x-large;
}

.parrafo-pintado{
    &:hover{color: red;}
}

p:first-child{
    color: brown;
    font-size: large;
}

.Presentacion h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section2{
    color: variables.$color;
    margin: 50px;
    padding: 10px;
    border: 3px solid variables.$color;
    display: inline-block;
}



/*como calcular cantidades*/

.section-1-comocalcular{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*como comprar*/
.section-1-comocomprar{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1{
    background-color: aqua;
    ba
}
/*Media Queries*/
@media (max-width:991px){
    
body {
    margin: 0 15px;
}

.navbar {
    left: 0;
    right: 0;
    background-color: salmon;
    display: none;
}
.bg-navbar-propio{
    display: initial;
}
.navbar ul li {
    width: 100px;
}


}

