@use"../utilities/variables";
@use"../utilities/mixins";

.navbar 
    ul{
        @include mixins.flex(row,center,center);
}


.nav-link{
        display: inline-block;
        margin: 16px;
        text-decoration: none;
        color: variables.$color;
        border: 1px solid variables.$color;
        border-radius: 5px;
        padding: 8px;
        background-color: bisque;
}

.li-nav{list-style: none;}


.bg-navbar-propio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
