*{
    margin: 0;
    padding: 0;
}
/*Fuente Importada*/
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Edu+SA+Hand:wght@400..700&display=swap');

body{font-family: "Ancizar Serif", serif;
background-color: darksalmon;}

h1{color: black;
font-family: "Ancizar Serif", serif;
font-size: 30px;
text-align: center;
margin: 8px 16px;
}

h2{color: black;
font-size: 20px;}

p{color: black;
text-align: center;
    margin: 8px 16px;

}

.parrafo-contacto{
    font-size: x-large;
}
.parrafo-pintado:hover{
    color: red;
}
p:first-child{
    color: brown;
    font-size: large;
}
.p-final{color: black;}

.li-nav{list-style: none;}

.logocotipasteleria{
    width: 180px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.nav-link{
display: inline-block;
margin: 16px;
text-decoration: none;
color: black;
border: 1px solid black;
border-radius: 5px;
padding: 8px;
background-color: bisque;
}

.imagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Presentacion h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section2{
    color: black;
    padding: 10px;
    border: 3px solid black;
    display: inline-block;
}